.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.footer h1 {
  font-family: "Pacifico", cursive;
  color: var(--yellow);
  font-style: italic;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
}
.link-contact {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
}
.link-contact a {
  text-decoration: none;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 600;
}
.link-contact a:hover  {
  color: var(--yellow);
}
.footer-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
}
.f-icon {
  color: var(--white);
  font-size: 1.5rem;
}
.f-icon:hover {
  color: var(--yellow);
}
.footer-email{
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--white);
}
.footer-email:hover {
  cursor: pointer;
  color: var(--yellow);
}