:root {
  --yellow: #d9c167;
  --orange: #fca61f;
  --blackblue: #242d49;
  --gray: #788097;
  --white: #fff;
  --black: #2d2e32;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1e0235;
  position: relative;
}

